html {
	margin: 0;
	padding: 0;
	
	font-family: 'Calibri';
	background-color: #acacac;
}

body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;

	overflow-x: hidden;
}

.top-nav-bar {
	overflow: hidden;
	text-align: center;
	background-color: #000000;
}

.top-nav-bar a {
	float: left;
	text-align: center;
	padding: 1% 2%;

	font-size: 20px;
	color: #ffffff;
	text-decoration: none;
}

.top-nav-bar a:hover {
	background-color: #ffffff;
	color: black;
}

.container-top-title {
	position: relative;
	text-align: center;
	height: 92vh;
}

.container-top-title img {
	position: relative;
	width: 100%;
	height: 100%;

	object-fit: fill;
}

.top-title {
	position: absolute;
	left: 50%;
	top: 10%;
	transform: translate(-50%, -50%);

	font-size: 675%;

	padding-top: 30%;

	color: transparent;
	background-image: linear-gradient(45deg, #ff0000, #ffee00);
	background-size: 100%;
	background-clip: text;
}

.top-title-hr {
	border: 5px solid #ff0000;
	width: 130%;

	margin-left: -15%;
	margin-top: -0.05%;

	box-shadow: 5px 5px 0px #ffee00;
}

.top-subtitle {
	font-size: 40%;
}

.galleries {
	padding: 3% 0%;

	background-color: #5e677df8;
}

.container-gallery {
	margin: 3% 15%;
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #ffffff;
}

.gallery {
	margin: 2%;
	float: none;
	width: 25%;
	padding: 5px;

	border: 3px solid #a0a0a0;
}

.gallery a {
	text-decoration: none;
	color: #000000;
}

.gallery:hover {
	border: 3px solid #000000;
}

.gallery img {
	width: 100%;
	height: auto;
}

.desc {
	padding: 15px;
	text-align: center;
}

.container-about {
	display: flex;
	padding: 3%;

	background-color: #ffffff;
}

.about-text {
	float: right;
	padding: 3%;
}

.about-image {
	float: left;
	padding: 3%;
}

.about-read-more {
	text-decoration: none;
}